@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  color: #689ac8;
}

.ant-select-selection {
  background: @dark-1;
  border: none;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-divider {
  margin-top: -10px;
  margin-bottom: 10px;
}

.ant-page-header-footer {
  margin: 0;
}

.ant-page-header {
  padding: 10px 20px;
}

.ant-pro-table-toolbar-title {
  color: #ccc;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

.ant-card {
  border-radius: 5px;
}

.ant-legacy-form-item-label > label {
  color: @light-0;
}

.ant-btn.ant-btn-dashed {
  border-color: @light-2;

  &:hover {
    border-color: @primary-color;
  }
}

#root {
  ::-webkit-scrollbar {
    /* 滚动条整体样式 */
    width: 10px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #313244;

    /* 滚动条里面小方块 */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-track {
    background: #313244;
    border-radius: 10px;

    /* 滚动条里面轨道 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
