@import '~antd/es/style/themes/default.less';

@active-color: ~'#a9a3ca';

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;

  .main-menu-bar {
    z-index: 10;
    height: 100vh;
    color: #fff;
    text-align: center;
    background: @dark-1;
    box-shadow: 0 0 10px #0008;

    .menu-item {
      width: 60px;
      height: 50px;
      margin: 10px 0;
      line-height: 50px;
      cursor: pointer;

      &:hover {
        i {
          color: @active-color;
        }
      }

      &.active {
        position: relative;
        background: @dark-1;
        &::after {
          position: absolute;
          top: 0;
          display: block;
          width: 2px;
          height: 100%;
          background: @active-color;
          content: '';
        }
        i {
          color: @active-color;
        }
      }

      i {
        color: #999;
      }
    }
  }

  .sub-menu-bar {
    position: relative;
    background: @dark-2;

    .navbar-collapse-wrapper {
      position: absolute;
      top: 50%;
      left: 100%;
      z-index: 100px;
      transform: translateY(-50%);
      .navbar-collapse {
        width: 15px;
        height: 75px;
        line-height: 75px;
        cursor: pointer;
        transition: all 0.3s;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: @dark-4;
          border-radius: 3px;
          transform: perspective(0.5em) rotateY(5deg);
          transition: all 0.3s;
          content: '';
        }

        .icon {
          color: #999;
        }

        &:hover {
          .icon {
            color: #666;
          }

          &::before {
            background: @dark-5;
            transition: all 0.3s;
          }
        }
      }
    }

    .collapsed {
      opacity: 0.7;
    }
  }

  .header {
    z-index: 1;
    display: flex;
    height: 60px;
    padding: 0;
    background: @dark-1;
    box-shadow: 0 0 2px @dark-1;

    .breadcrumb {
      width: 365px;
      font-size: 16px;
      line-height: 60px;
    }
  }

  .content {
    height: 100%;
    margin: 24px 24px 0;
  }
}
