@import '~antd/es/style/themes/default.less';

@active-color: ~'#ffffff';

.header {
  z-index: 1;
  display: flex;
  height: 60px;
  color: #999;
  background: rgba(23, 30, 39, 1);
  box-shadow: 0 0 1px rgba(200, 200, 200, 0.2);

  .breadcrumb {
    width: 365px;
    color: #999;
    font-size: 16px;
    line-height: 60px;
  }
}

.content {
  margin: 24px 24px 0;
}

.footer {
  background: rgba(23, 30, 39, 1);
}
